<div class="controls">
  <button class="btn">Random City</button>
  <div class="search-wrapper">
    <div class="input-wrapper">
      <input
        type="text"
        placeholder="Enter city name"
        class="input"
        [value]="search"
        (input)="onChange($event)"
      />
      <app-cities-list [cities]="cities"></app-cities-list>
    </div>
  </div>
</div>
