/* You can add global styles to this file, and also import other style files */
*, *::after, *::before {
  box-sizing: border-box;
}


html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

